VITE_SANITY_PROJECT_ID=sk8WG4rnL1wk8VIf8Yk1t7oIJpy0lSRorrKM01E1eUodOknJfQASm2pIuWDJwLzqtxGFIhiF5bB8yrQKnwOVqsBLDpiN1MsKVXW7oYL2LVYMds5j2PEZLvkrpPbcm8855ccaoL7KYslEeirOkXo3m27oeLM8wIPnHsRKFRuXtkgODnnn5SVf
VITE_SANITY_DATASET=production

VITE_SUPABASE_URL=https://vknupkapchodbyvwukqp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrbnVwa2FwY2hvZGJ5dnd1a3FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NTA4ODIsImV4cCI6MjA4OTEyNjg4Mn0.B8_hgzk0RMrXdp0Nr1MNlrGRfs7avxKZnuHJk2Jlst4

NEWS_API_KEY=725e04bdd8324c9cb64c78f45f7300c0
